p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  
  body {
    color:rgb(0, 0, 0);
    background-color:rgba(247, 29, 0, 0);
    }
    
    