body
{
	background-color: rgb(168, 164, 164);
	text-align: center;
}

h1
{
	color: rgb(48, 68, 245);
}



button
{
    background-color: rgba(255, 255, 255, 0.938);
    border: 2px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    color: rgb(252, 21, 21);
    margin-left: 5px;
}
